
a {
    text-decoration: none;
    color: black;
}

h2, button {
    margin-top: 1rem;
}

nav {
    text-align: center;
}


#custom-login {
    margin-top: 2rem;
    width: 30rem;
    
}

body {
    background-image: url("../images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35rem;
}

#profile-card {
    margin-top: 2rem;
    width: 25rem;
}
#user-register {
    margin-top: 2rem;
    width: 25rem;
}

/* #profile-modal {
    width: 25rem
} */

.modal-content {
    width: 30rem;
}



