<header class="container-fluid" th:fragment="header-fragment">
    <nav class="row navbar navbar-light bg-dark">
        <h1 sec:authorize="isAnonymous()" class="text-light">Workforce.com</h1>
        <div sec:authorize="isAuthenticated()" class="navbar row">
            <a th:href="@{/}" class="col text-light">
                <h2>Frontpage</h2>
            </a>
            <a th:href="@{/profile}" class="col text-light">
                <h2>To profile page</h2>
            </a>
            <form th:action="@{/logout}" method="post" class="col">
                <button type="submit" class="btn btn-outline-primary">Logout</button>
            </form>
        </div>
        
    </nav>
</header>