<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head-fragment('Login page')">
</head>

<body>
    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main class="container">
        <section class="row">
            <aside class="col"></aside>
            <article class="col-6">
            </article>
            <aside class="col"></aside>
        </section>
        <section class="row">
            <aside class="col"></aside>
            <article class="col-8 card" id="custom-login">
                <!-- Form for login -->
                <form class="mb-3 card-body" th:action="@{/login}" method="post">
                    <h4 class="card-title">Log in</h4>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="" name="password">
                    </div>
                    <input type="submit" value="Submit" class="btn btn-success">
                </form>
            </article>
            <aside class="col"></aside>
        </section>
        <div th:if="${param.error}" class="alert alert-danger">    
            Invalid username and password.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>     
        </div>

    </main>
</body>

</html>